<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/comment/addComment">
        <textarea name="content" id="" cols="30" rows="5" placeholder="请在此处输入留言内容"></textarea>
        <input type="submit" value="发表留言">
    </form>
</body>
</html>